.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 60px;
  background-color: #1a6bbd;
  border-radius: 30px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
}
