.container {
  background-color: #237ed9;
} 

.timeBarContainer {
  position: absolute;
  padding: 80px 16px 100px 16px;
}

.title {
  padding: 16px;
  color: #fff;
  background-color: #1a6bbd;
  position: fixed;
  z-index: 100;
  width: 100%;
}