.container {
  background-color: #237ed9;
} 

.timeBarContainer {
  position: absolute;
  width: calc(100% - 32px);
  padding: 80px 16px 100px 16px;
}

.title {
  padding: 16px;
  color: #fff;
  background-color: #1a6bbd;
  position: absolute;
  width: calc(100% - 32px);
}