.container {
  position: fixed;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background-color: #1a6bbd;
  border-radius: 50px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  gap: 16px;
  padding: 8px 24px;
  justify-content: flex-end;
  width: fit-content;
}